<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <!--add key="Host" value="192.168.0.156"/>
    <add key="ServiceName" value="prod"/-->
    
    <!-- BINAN -->
    <add key="Host" value="localhost"/>
    <add key="ServiceName" value="xe"/>
    <add key="Port" value="1521"/>
    <add key="UserId" value="EPS02303"/>
    <add key="Password" value="eaa6d00cc631ba280e323f46689ff310"/>
    
    <!--BINAN OPIS ARCS 142-->
    <add key="AngARCSHost" value="localhost" />
    <add key="AngARCSServiceName" value="xe" />
    <add key="AngARCSPort" value="1521" />
    <add key="AngARCSUserId" value="arcs02303" />
    <add key="AngARCSPassword" value="40374e156f0a581f" />
    <!--<add key="AngARCSPassword" value="4717fc7e6da7e6b66fd880b2ce2944f2" /> -->
    
    <!-- BLOB CONNECTION-->
    <add key="BlobHost" value="localhost"/>
    <add key="BlobPort" value="1521"/>
    <add key="BlobServiceName" value="xe"/>
    <add key="BlobUserId" value=" RPT02406BLOB"/>
    <add key="BlobPassword" value="0c410e6ef3c64639244a4a0d7880b127"/>

    <!--ONSITE TEST-->
    <!--<add key="Host" value="192.168.0.100" />
    <add key="ServiceName" value="prod" />
    <add key="Port" value="1521" />
    <add key="UserId" value="eps02101t"/>
    <add key="Password" value="e52876d94b9a9b73d1768322e7dd5281"/>-->
    
    <!--<add key="UserId" value="EPS02303" />
    <add key="Password" value="eaa6d00cc631ba280e323f46689ff310"/>-->
    <!-->add key="Host" value="localhost" />
    <add key="ServiceName" value="xe" />
    <add key="Port" value="1521" />
    <add key="UserId" value="EPS02101" />
    <add key="Password" value="e52876d94b9a9b737b0f4a30c0fe0418" /-->

    <!--ANGONO OPIS ARCS 142-->
    <!--<add key="AngARCSHost" value="192.168.0.142"/>
    <add key="AngARCSServiceName" value="prod"/>
    <add key="AngARCSPort" value="1521"/>
    <add key="AngARCSUserId" value="arcs02101"/>
    <add key="AngARCSPassword" value="4717fc7e6da7e6b66fd880b2ce2944f2"/>-->

    <!--ONSITE TEST-->
    <!--<add key="AngARCSHost" value="192.168.0.100" />
    <add key="AngARCSServiceName" value="prod" />
    <add key="AngARCSPort" value="1521" />
    <add key="AngARCSUserId" value="arcs02101t" />
    <add key="AngARCSPassword" value="4717fc7e6da7e6b6244f7d4ee733fcb4"/>-->

    <!--<add key="ARCSHost" value="192.168.0.142" />
    <add key="ARCSServiceName" value="prod" />
    <add key="ARCSPort" value="1521" />
    <add key="ARCSUserId" value="arcs02101" />
    <add key="ARCSPassword" value="4717fc7e6da7e6b66fd880b2ce2944f2" />-->

    <add key="RPTHost" value="192.168.0.142"/>
    <add key="RPTServiceName" value="prod"/>
    <add key="RPTPort" value="1521"/>
    <add key="RPTUserId" value="rpt02101"/>
    <add key="RPTPassword" value="926e18f5078e76c98cb1e2bbb81ab395"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
