<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="Host" value="192.168.0.156"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="prod"/>
    <add key="UserId" value="eps02101"/>
    <add key="Password" value="e52876d94b9a9b737b0f4a30c0fe0418"/>
  </appSettings>
</configuration>